<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Recruitment task</title>
  </head>
  <body>
    <header class="container">
      <div class="logo">
        <h1>Logo</h1>
      </div>
      <nav>
        <a href="#" target="_blank" rel="noopener noreferrer" class="active">
          Home
        </a>
        <a href="#" target="_blank" rel="noopener noreferrer"> About </a>
        <a href="#" target="_blank" rel="noopener noreferrer"> Services </a>
        <a href="#" target="_blank" rel="noopener noreferrer"> Pages </a>
      </nav>
      <div class="contact">
        <div class="phone">
          <p>Call Us:</p>
          <label for="lang">+48 123 456 789</label>

          <select name="lang" id="lang">
            <option value="EN">EN</option>
            <option value="PT">PT</option>
            <option value="BK">BK</option>
            <option value="IN">IN</option>
          </select>
        </div>
        <button class="btn">Contact Us</button>
      </div>
    </header>
    <main>
      <section id="hero" class="container">
        <div class="heading">
          <div class="text">
            <h1>Lorem ipsum dolor sit&nbsp;amet</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
              facilis repellat accusantium fuga possimus illo odit molestias
              vel! Blanditiis laborum reiciendis vero sapiente ullam id, qui
              voluptas dolore ex nostrum uptas dolore ex nostru
            </p>
          </div>
          <div class="box-1"></div>
        </div>
        <div class="video">
          <div class="video-action">
            <div class="video-btn">
              <div class="arrow">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  height="100"
                  viewBox="0 -960 960 960"
                  width="100"
                >
                  <path
                    d="M360-273.769v-415.385l326.154 207.692L360-273.769Zm30.769-207.693Zm0 151.001 239-151.001-239-151v302.001Z"
                  />
                </svg>
              </div>
            </div>
            <div class="action-text">
              <p>Watch demo</p>
              <p>vídeo</p>
            </div>
          </div>
          <div class="box-2"></div>
          <div class="box-3"></div>
          <div class="box-4"></div>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>
